/.project
/.classpath
/project/target
/project/project
/target
/.worksheet
/bin/
/.scalastyle
/.settings
/.cache-main
/.cache-tests
/data*
/maze.zip
/v2/*.csv
/*.csv
/octave/octave-workspace
/analysis/*.aux
/analysis/*.synctex.gz
/analysis/*.toc
/analysis/*.log
/analysis-01/*.aux
/analysis-01/*.log
/analysis-01/*.synctex.gz
/analysis-01/*.toc
/analysis-01/*.zip
*.zip
/.idea/
/v3/*.csv
/debug/*.csv
/docs/*.aux
/docs/*.log
/docs/*.synctex.gz
/v4/*.csv
/stop
/docs/*.toc
/v5/*.csv
