/.project
/.classpath
/project/target
/target
/.worksheet
/bin/
/.scalastyle
/.settings
/.cache-main
/.cache-tests
/data
/maze.zip
/*.csv
/octave/octave-workspace
/analysis/*.aux
/analysis/*.synctex.gz
/analysis/*.toc
/analysis/*.log
